{% load static %}

<footer class="footer">
    <div class="footer__top">
        <div class="footer__right">
            <span class="footer-setcity footer__right-list">TP.HỒ CHÍ MINH</span>
            <ul class="footer__right-list footer__right-list-cursion">
                <li><span class="bold">Store 1:</span> 17bis Huỳnh Đình Hai Phường 14 - Quận Bình Thạnh</li>
                <li><span class="bold">Store 2:</span> 68 Nguyễn Trãi Phường 3 - Quận 5</li>
                <li><span class="bold">Store 3:</span> 539 Sư Vạn Hạnh Phường 13 - Quận 10</li>
                <li><span class="bold">Store 4:</span> 1002 Quang Trung Phường 8 - Quận Gò Vấp</li>
                <li><span class="bold">Store 5:</span> 166 Trường Chinh Phường 13 - Quận Tân Bình</li>
                <li><span class="bold">Store 6:</span> 148 Nguyễn Trãi P.Bến Thành - Quận 1</li>
            </ul>
        </div>

        <div class="footer__center">
            <span class="footer-setcity footer__right-list">HÀ NỘI</span>
            <div>
                <span class="bold footer__right-list bold footer__right-list-main">Store 7:</span>
                <div>17bis Huỳnh Đình Hai Phường 14 - Quận Bình Thạnh</div>
                <a href="https://maps.app.goo.gl/s9gDSUJW9wrHKShE8" target="_blank">
                    <img src="{% static 'img/googlemap.png' %}" alt="Google Maps" width="30" height="30" style="margin-top: 5px;">
                </a>
            </div>

            <div class="block">
                <div class="footer-setadd footer__right-list">CHÍNH SÁCH ĐỔI TRẢ</div>
                <div class="footer-setadd footer__right-list">GIỚI THIỆU</div>
            </div>
        </div>

        <div class="footer__left">
            <div class="footer-setcity footer__right-list">HỖ TRỢ (9:00 - 21:00)</div>
            <div class="footer__left-info">
                <span class="icon">
                    <a href="tel:02873076464" style="text-decoration: none;">
                        <img id="hphone" src="{% static 'img/headphone.png' %}" width="20" height="20" style="vertical-align: middle;">
                        <span style="color: #000;"> 028 7307 6464</span>
                    </a>
                </span>
                <span class="icon">
                    <a href="mailto:info@task.vn" style="text-decoration: none;">
                        <img id="mail" src="{% static 'img/mail.png' %}" width="20" height="20" style="vertical-align: middle;">
                        <span style="color: #000;">info@task.vn</span>
                    </a>
                </span>
            </div>

            <div class="footer-setcity footer__right-list">THEO DÕI CHÚNG TÔI</div>
            <div class="follow-us-icon">
                <a href="https://www.facebook.com/"><img id="facebk" src="{% static 'img/facebook.png' %}" width="30" height="30"></a>
                <a href="https://www.instagram.com/"><img id="instagr" src="{% static 'img/instagram.png' %}" width="30" height="30"></a>
                <a href="https://www.tiktok.com/"><img id="tt" src="{% static 'img/tiktok.png' %}" width="30" height="30"></a>
            </div>

            <div class="footer-setcity footer__right-list">THANH TOÁN</div>
            <div class="follow-us-icon">
                <a href="https://momo.vn"><img id="momo" src="{% static 'img/momo.png' %}" width="30" height="30" style="border-radius: 10px;"></a>
                <a href="https://www.visa.com"><img id="visa" src="{% static 'img/visa.png' %}" width="30" height="30" style="border-radius: 10px;"></a>
            </div>
        </div>
    </div>

    <div class="footer__bottom">SINCE TASK 2023</div>
</footer>
