{% extends "base.html" %}
{% load static %}

{% block title %}Trang chủ - FashionShop{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
    <class id="main">
        <div class="heading"></div>
        <div class="container content">
            <div class="container__wrap">
                <ul class="container__menu row">
                    <li class="item__menu item__menu__active">All</li>
                    <li class="item__menu">Áo Sơ Mi</li>
                    <li class="item__menu">Áo Polo</li>
                    <li class="item__menu">Áo Thun</li>
                    <li class="item__menu">Áo khoác</li>
                    <li class="item__menu">Quần Jean</li>
                    <li class="item__menu">Quần Short</li>
                    <li class="item__menu">Quần Thun</li>
                </ul>
            </div>
        </div>
    </class>

    {% if messages %}
        <script>
            {% for message in messages %}
                alert("{{ message|escapejs }}");
            {% endfor %}
        </script>
    {% endif %}

{% endblock %}
